{% extends "admin_base.html" %}

{% block main %}
	<div id="div-main">
		<form action="/admin/taobao_save" method="POST">
			{{ xsrf_form_html() }}
			<p><label>Import By</label>
			   <select name="type">
				<option value="nickname">Nick Name</option>
			   </select>
			</p>
			<p><label>Page</label>
				<select name="page">
					{%for i in range(20)%}
						<option value="{{i+1}}">{{i+1}}</option>
					{%end%}
				</select>
			</p>
			<p><label>Value</label><input type="text" name="value" value="obuy_queenshop"/></p>				
			<p><input type="submit" value="Submit"/></p>
		</form>
		
		<a href="/admin/index">Back to homepage</a>
	</div>
{% end %}