body,table,div,span,p,a,td,th,img {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	border: 0px;
}
body,td,th {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: normal;
	text-decoration: none;
}

a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #333;
	text-decoration: none;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #333;
	text-decoration: none;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	color:#660;
	text-decoration: none;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	color:#660;
	text-decoration: none;
}


ul,li {
	list-style:none;
	float:left;
	margin:0px;
	padding:0px;
}
.td_th{
	line-height:24px;
}
.td_price{
	line-height:28px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #960;
	text-decoration: none;
}
.input_search{
	width:300px;
	border:#000 solid 1px;
}
.div_login{
	margin:0px 0px 15px 10px;
	width:450px;
	height:165px;
	border:#ccc solid 1px;
}
.div_product_s1{
	float:left;
	width:142px;
	height:190px;
	border-top:#ccc solid 1px;
	border-left:#ccc solid 1px;
	border-bottom:#ccc solid 1px;
}
.div_product_s2{
	float:left;
	width:140px;
	height:190px;
	border-top:#ccc solid 1px;
	border-left:#ccc solid 1px;
	border-right:#ccc solid 1px;
	border-bottom:#ccc solid 1px;
}
.div_s1{
	border-top:#ccc solid 1px;
	border-left:#ccc solid 1px;

}
.div_s2{
	border-top:#ccc solid 1px;
	border-left:#ccc solid 1px;
	border-right:#ccc solid 1px;
	
}



#div-main{
	margin: 0px auto;
	width: 1000px;