{% extends "base.html" %}

{% block main %}
	<div id="div-main">
		<p>{{my_page.pager('$link_first $link_previous ~5~ $link_next $link_last (Page $page of $page_count)')}}</p>
		
		{% for k in my_page.items %}
			<div>
				<a href="/item_detail?id={{k.id}}"><img src="{{k.pic_url}}"/></a>
				<span>{{k.title}}</span>
				<span>{{k.price}}</span>
			</div>
		{%end%}
		
		<p>{{my_page.pager('$link_first $link_previous ~5~ $link_next $link_last (Page $page of $page_count)')}}</p>
	</div>
{% end %}