{% extends "base.html" %}


{% block extCSS %}
<link rel="stylesheet" type="text/css" href="{{ static_url("css/grid.css") }}" />
{% end %}

{% block extJS %}
	<script language="JavaScript" type="text/javascript">
    //<![CDATA[
         $(document).ready(function(){
        	 $(".item_img").hover(
        		function(){
        			$("#main_pic").attr("src",$("img",this).attr("src"));
        			$(this).siblings("li").removeClass("bg_xt");
        			$(this).addClass("bg_xt");
        		},
        		function(){
        			//$(this).removeClass("bg_xt");
        		}
        	 );
        	 
         })
    //]]>
   </script>
{% end %}

{% block main %}
	<div id="div-main">
		
		<div class="container_20">
		  <div class="grid_4">
		    <br>
		    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 1px solid rgb(204, 204, 204);">
		      <tbody><tr>
		        <td height="24" background="{{ static_url('images/product_page_03.jpg')}}" align="center" class="search_title">搜索产品</td>
		      </tr>
		      <tr>
		        <td>&nbsp;</td>
		      </tr>
		      <tr>
		        <td><table width="100%" cellspacing="0" cellpadding="0" border="0">
		          <tbody><tr>
		            <td width="60" align="center">关键字：</td>
		            <td><input type="text" size="12" id="textfield3" name="textfield3"></td>
		          </tr>
		        </tbody></table></td>
		      </tr>
		      <tr>
		        <td>&nbsp;</td>
		      </tr>
		      <tr>
		        <td><table width="100%" cellspacing="0" cellpadding="0" border="0">
		          <tbody><tr>
		            <td width="60" align="center">价格：</td>
		            <td width="45"><input type="text" size="5" id="textfield5" name="textfield5"></td>
		            <td width="15">到</td>
		            <td><input type="text" size="5" id="textfield4" name="textfield4"></td>
		          </tr>
		        </tbody></table></td>
		      </tr>
		      <tr>
		        <td>&nbsp;</td>
		      </tr>
		      <tr>
		        <td align="center"><input type="submit" value="搜索" id="button" name="button"></td>
		      </tr>
		      <tr>
		        <td>&nbsp;</td>
		      </tr>
		    </tbody></table>
		    <br>
		    <table width="100%" cellspacing="0" cellpadding="0" border="0">
		      <tbody><tr>
		        <td style="background: url({{ static_url('images/index_127.jpg')}}) repeat-y scroll 0% 0% transparent;"><table width="100%" cellspacing="0" cellpadding="0" border="0">
		          <tbody><tr>
		            <td><ul>
		              <li style="margin: 0px 10px 0px 20px; width: 10px; height: 30px; padding-top: 10px;"><img width="9" height="9" src="{{ static_url('images/index_140.jpg')}}"/></li>
		              <li style="width: 100px; height: 30px; margin-left: 15px; padding-top: 10px;">连衣裙</li>
		            </ul></td>
		          </tr>
		          <tr>
		            <td height="5" align="center"><img width="137" height="5" src="{{ static_url('images/index_150.jpg')}}"/></td>
		          </tr>
		          <tr>
		            <td><ul>
		              <li style="margin: 0px 10px 0px 20px; width: 10px; height: 30px; padding-top: 10px;"><img width="9" height="9" src="{{ static_url('images/index_140.jpg')}}"/></li>
		              <li style="width: 100px; height: 30px; margin-left: 15px; padding-top: 10px;">连衣裙</li>
		            </ul></td>
		          </tr>
		          <tr>
		            <td height="5" align="center"><img width="137" height="5" src="{{ static_url('images/index_150.jpg')}}"/></td>
		          </tr>
		          <tr>
		            <td><ul>
		              <li style="margin: 0px 10px 0px 20px; width: 10px; height: 30px; padding-top: 10px;"><img width="9" height="9" src="{{ static_url('images/index_140.jpg')}}"/></li>
		              <li style="width: 100px; height: 30px; margin-left: 15px; padding-top: 10px;">连衣裙</li>
		            </ul></td>
		          </tr>
		          <tr>
		            <td height="5" align="center"><img width="137" height="5" src="{{ static_url('images/index_150.jpg')}}"/></td>
		          </tr>
		          <tr>
		            <td><ul>
		              <li style="margin: 0px 10px 0px 20px; width: 10px; height: 30px; padding-top: 10px;"><img width="9" height="9" src="{{ static_url('images/index_140.jpg')}}"/></li>
		              <li style="width: 100px; height: 30px; margin-left: 15px; padding-top: 10px;">连衣裙</li>
		            </ul></td>
		          </tr>
		          <tr>
		            <td height="5" align="center"><img width="137" height="5" src="{{ static_url('images/index_150.jpg')}}"/></td>
		          </tr>
		          <tr>
		            <td><ul>
		              <li style="margin: 0px 10px 0px 20px; width: 10px; height: 30px; padding-top: 10px;"><img width="9" height="9" src="{{ static_url('images/index_140.jpg')}}"/></li>
		              <li style="width: 100px; height: 30px; margin-left: 15px; padding-top: 10px;">连衣裙</li>
		            </ul></td>
		          </tr>
		          <tr>
		            <td height="5" align="center"><img width="137" height="5" src="{{ static_url('images/index_150.jpg')}}"/></td>
		          </tr>
		          <tr>
		            <td><ul>
		              <li style="margin: 0px 10px 0px 20px; width: 10px; height: 30px; padding-top: 10px;"><img width="9" height="9" src="{{ static_url('images/index_140.jpg')}}"/></li>
		              <li style="width: 100px; height: 30px; margin-left: 15px; padding-top: 10px;">连衣裙</li>
		            </ul></td>
		          </tr>
		          <tr>
		            <td height="5" align="center"><img width="137" height="5" src="{{ static_url('images/index_150.jpg')}}"/></td>
		          </tr>
		          <tr>
		            <td>&nbsp;</td>
		          </tr>
		          <tr>
		            <td>&nbsp;</td>
		          </tr>
		          <tr>
		            <td>&nbsp;</td>
		          </tr>
		          <tr>
		            <td>&nbsp;</td>
		          </tr>
		        </tbody></table></td>
		      </tr>
		    </tbody></table>
		  </div>
		  <div class="grid_16">
		  <p class="cp_title">{{item.title}}</p>
		  <table width="100%" cellspacing="0" cellpadding="0" border="0">
		  <tbody><tr>
		    <td width="40%" valign="top" align="center"><div style="border: 1px solid rgb(204, 204, 204); width: 310px; height: 310px;"><img id="main_pic" width="310" height="310" src="{{item.pic_url}}"/></div>
		    <div class="div_xiaotu">
		    <ul>
		    	{% if item.item_img%}
			    	{%for i,url in enumerate(item.item_img.split("|"))%}
			    		{%if i==0 %}
				    		<li class="item_img bg_xt"><img width="40" height="40" src="{{url}}"/></li>
				    	{%else%}
				    		<li class="item_img"><img width="40" height="40" src="{{url}}"/></li>
				    	{%end%}
			    	{%end%}		
		    	{%end%}		    	
		    </ul>
		    </div>
		    </td>
		    <td valign="top" align="center"><table width="90%" cellspacing="0" cellpadding="0" border="0" class="under_line">
		      <tbody><tr>
		        <td width="90" align="right">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</td>
		        <td width="10" align="left" class="highlight">&nbsp;</td>
		        <td width="100" align="left" class="highlight">{{item.price}}</td>
		        <td>元</td>
		        <td>&nbsp;</td>
		      </tr>
		      <tr>
		        <td align="right">&nbsp;</td>
		        <td align="left">&nbsp;</td>
		        <td align="left">&nbsp;</td>
		        <td>&nbsp;</td>
		        <td>&nbsp;</td>
		      </tr>
		      </tbody></table>
		      <table width="90%" cellspacing="0" cellpadding="0" border="0" class="under_line">
		        <tbody><tr>
		          <td align="right">&nbsp;</td>
		          <td align="left">&nbsp;</td>
		          <td align="left">&nbsp;</td>
		          <td>&nbsp;</td>
		          <td>&nbsp;</td>
		        </tr>
		        <tr>
		          <td width="90" align="right">快&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;递：</td>
		          <td width="10" align="left">&nbsp;</td>
		          <td width="100" align="left"><table width="100%" cellspacing="0" cellpadding="0" border="0">
		            <tbody><tr>
		              <td width="50">{{item.express_fee}}</td>
		              <td>元</td>
		              </tr>
		            </tbody></table></td>
		          <td>&nbsp;</td>
		          <td>&nbsp;</td>
		        </tr>
		        <tr>
		          <td align="right">&nbsp;</td>
		          <td align="left">&nbsp;</td>
		          <td align="left">&nbsp;</td>
		          <td>&nbsp;</td>
		          <td>&nbsp;</td>
		        </tr>
		      </tbody></table>
		      <table width="90%" cellspacing="0" cellpadding="0" border="0" class="under_line">
		        <tbody><tr>
		          <td align="right">&nbsp;</td>
		          <td align="left">&nbsp;</td>
		          <td>&nbsp;</td>
		          <td>&nbsp;</td>
		          <td>&nbsp;</td>
		          <td>&nbsp;</td>
		        </tr>
		        <tr>
		          <td width="90" align="right">付款方式：</td>
		          <td width="10" align="left">&nbsp;</td>
		          <td width="60">信用卡</td>
		          <td width="80">支付寶卡通</td>
		          <td width="80"><a title="支持用開通了網上銀行的銀行卡付款" href="http://www.taobao.com/wui/pay/index.php?f=bankcard&amp;p=cmb#s1-1-1" target="_blank">網銀支付</a></td>
		          <td>&nbsp;</td>
		          </tr>
		        <tr>
		          <td align="right">&nbsp;</td>
		          <td align="left">&nbsp;</td>
		          <td>&nbsp;</td>
		          <td>&nbsp;</td>
		          <td>&nbsp;</td>
		          <td>&nbsp;</td>
		          </tr>
		      </tbody></table>
		      <br/>
		      <table width="90%" cellspacing="0" cellpadding="0" border="0" class="gary_box">
		        <tbody><tr>
		          <td class="box_padding">
		          
		          <form action="/add_to_cart" method="post">
			          <input type="hidden" name="id" value="{{item.id}}"/>
			          {{ xsrf_form_html() }}
			          <table width="100%" cellspacing="0" cellpadding="0" border="0">
			            <tbody><tr>
			              <td width="60">我要买：</td>
			              <td width="70"><input type="text" size="8" id="qty" name="qty" value="1"></td>
			              <td>件 （库存：{{item.num}}）</td>
			            </tr>
			            <tr>
			              <td>&nbsp;</td>
			              <td>&nbsp;</td>
			              <td>&nbsp;</td>
			            </tr>
			          </tbody>
			          </table>
		          
			         	<table width="100%" cellspacing="0" cellpadding="0" border="0">
			              <tbody><tr>
			                <td width="50%"><input type="image" width="126" height="35" src="{{ static_url('images/product_page_18.jpg')}}"/></td>
			                <td width="50%"><input type="image" width="127" height="36" src="{{ static_url('images/product_page_09.jpg')}}"/></td>
			              </tr>
			            </tbody>
			            </table>
		            </form>
		            
		            </td>
		        </tr>
		      </tbody></table></td>
		  </tr>
		</tbody></table>
		  <table width="100%" cellspacing="0" cellpadding="0" border="0">
		    <tbody><tr>
		      <td background="{{ static_url('images/product_page_24_bg.jpg')}}"/><img width="751" height="34" src="{{ static_url('images/product_page_24.jpg')}}"/></td>
		    </tr>
		    <tr>
		      <td><table width="100%" cellspacing="0" cellpadding="0" border="0" class="gary_box">
		        <tbody><tr>
		          <td class="box_padding">
			            {%for k,v in item.item_propertys%}
		          			<div class="div_productinfo">{{k}} : {{v}}</div>
			            {%end%}
		          </td>
		        </tr>
		      </tbody></table></td>
		    </tr>
		    <tr>
		      <td>&nbsp;</td>
		    </tr>
		    <tr>
		      <td style="width:790px">{{item.desc}}</td>
		    </tr>
		  </tbody></table>
		  </div>
		</div>
				
		
		<br style="clear:both"/>
	</div>
{% end %}